main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

body{
    background-color: beige;
}

:root{
    --gray: rgb(200, 200, 200)
}

#title {
    }

#image-caption {
    background-color: var(--gray);
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

#tribute-info {
    background-color: var(--gray);
    padding: 10px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

#img-div{
    display: block;
    margin: 0;
}

@media (max-width: 800px){
    #title{
        font-size: 20px;
    }
}